.query > .container {
  padding-block: 20px;
}

.query_lists {
  margin-top: 30px;
  width: 100%;
  margin-inline: auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  justify-content: flex-start;
}
